/ {
    chosen {
        zephyr,console = &usb_serial;
        zephyr,shell-uart = &usb_serial;
    };
};

&usb_serial {
    status = "okay";
};

&coretemp {
    status = "okay";
    range-min = <(-10)>;
    range-max = <80>;
};
